@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.bigred {
  font-size: 20px;
  color: red;
}

.header {
  background: url("/shapeUp/img/header_bg.jpg") center/cover no-repeat;
  padding: 0.1% 0 14.2%;
  font-family: "Lato";
}
.header__top {
  display: flex;
  justify-content: space-between;
  padding: 16px 20px;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 100% !important;
  left: 0;
  top: 0;
}
.header__main {
  max-width: 615px;
  margin: 18% 0 0;
}
.header__main p:nth-of-type(1), .header__main p:nth-of-type(2) {
  font-size: calc(40px + 20 *(100vw/1920));
  color: #fefefe;
  text-transform: uppercase;
  font-weight: 900;
  line-height: calc(40px + 28 *(100vw/1920));
}
.header__main p:nth-of-type(1) span, .header__main p:nth-of-type(2) span {
  font-size: calc(38px + 10 *(100vw/1920));
  font-weight: 700;
  text-transform: uppercase;
  color: #12c2e9;
}
.header__main p:last-of-type {
  margin: 35px 0 29px;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}
.header__btns {
  max-width: 420px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container {
  max-width: 1190px;
  padding: 0 20px;
  margin: 0 auto;
}

.btn {
  width: 200px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #f80759;
  font-size: 16px;
  line-height: 45px;
  color: #fefefe;
  text-align: center;
}
.btn:hover {
  background: linear-gradient(90deg, #e100ff 0%, #f80759 100%);
}
.btn--top:first-of-type {
  margin: 0 10px 15px 0;
}

.logo {
  position: relative;
  z-index: 3;
  font-size: 36px;
  line-height: 40px;
  font-weight: 900;
  color: #fff;
}
.logo__img {
  display: inline-block;
  width: 40px;
  height: 26px;
  background: url(/shapeUp/img/spritesheet.png) -506px -10px no-repeat;
  margin: 0 3px 0 0;
}
.logo span {
  color: #f80759;
}

.navigation {
  flex: 0 1 660px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation__item {
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  font-weight: 300;
  transition: color 0.2s linear;
}
.navigation__item:hover {
  color: #f80759;
}
.navigation__item--black:hover {
  color: #000;
}
.navigation--footer {
  max-width: 600px;
  margin: 0 auto;
}

@media all and (max-width: 454px) {
  .header__btns {
    justify-content: center;
  }

  .btn:last-of-type {
    margin: 0 10px 0 0;
  }
}
.about {
  background-color: #111;
  padding: 5.4% 0 0;
  font-family: "Lato";
}
.about__container {
  display: flex;
  flex-wrap: wrap;
}
.about__text {
  flex: 1 1 50%;
  padding: 50px 5.3% 30px 0;
}
.about__text p {
  color: #fff;
  line-height: 24px;
}
.about__text p:nth-of-type(2) {
  line-height: 38px;
}
.about__text p:nth-of-type(2):after {
  margin: 20px 0 30px 0;
}
.about__text p:nth-of-type(3) {
  font-size: 22px;
  line-height: 26px;
  color: #fff;
  margin: 0 0 29px;
}
.about__text p:last-of-type {
  font-size: 14px;
  line-height: 26px;
  color: #fff;
  margin: 0 0 29px;
}
.about__videos {
  flex: 1 1 50%;
  display: grid;
  grid-template-columns: repeat(3, minmax(130px, 170px));
  grid-template-rows: 400px 100px;
  grid-gap: 20px 27px;
  grid-template-areas: "video video video" "video_1 video_2 video_3";
}

.video {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  width: 100%;
  height: 100%;
  grid-area: video;
}
.video-img {
  transition: all 0.1s linear;
  max-width: 100%;
}
.video-img:nth-of-type(1) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: video_1;
}
.video-img:nth-of-type(2) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: video_2;
}
.video-img:nth-of-type(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
  grid-area: video_3;
}
.video-img:hover {
  border: 2px solid #fff;
}

.title {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #12c2e9 !important;
  margin: 0 0 20px;
  font-family: "Lato";
}

.subtitle {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #ffffff;
  font-family: "Lato";
}
.subtitle:after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background-image: linear-gradient(to right, #e100ff 0%, #f80759 100%);
  margin: 29px 0 50px;
}

.link {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #ed213a;
  position: relative;
}
.link:after {
  content: "";
  position: absolute;
  top: 20px;
  left: 0;
  height: 1px;
  width: 0;
  background-color: #ed213a;
  transition: all 0.2s linear;
}
.link:hover:after {
  width: 100%;
}

@media all and (max-width: 600px) {
  .about__videos {
    grid-template-columns: repeat(3, minmax(80px, 170px));
    grid-template-rows: minmax(250px, auto) 100px;
    flex: 1 1 100% !important;
  }
}
@media all and (max-width: 927px) {
  .about__videos {
    flex: none;
    margin: 0 auto;
  }
}
.trainers {
  background-color: #111;
  padding: 9.5% 0 6%;
  text-align: center;
}
.trainers-subtitle:after {
  margin: 29px auto 50px;
}
.trainers-slider {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.trainers-slider__item {
  position: relative;
}
.trainers-slider__item:after {
  transition: all 0.2s linear;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 212px;
  background-image: linear-gradient(to top, #000000 0%, #ffffff 60%, #ffffff 100%);
  opacity: 0;
}
.trainers-slider__item:hover:after {
  opacity: 0.8;
}
.trainers-slider__item:hover .item__text {
  opacity: 1;
}

.item__text {
  position: absolute;
  top: 78%;
  left: 54px;
  z-index: 1;
  opacity: 0;
  transition: all 0.2s linear;
  font-family: "Lato";
}
.item__text p:first-of-type {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #fff;
}
.item__text p:last-of-type {
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.05em;
  color: #12c2e9;
}

@media all and (max-width: 1188px) {
  .trainers-slider {
    max-width: 922px;
  }
}
@media all and (max-width: 1000px) {
  .trainers-slider {
    max-width: 690px;
  }
}
@media all and (max-width: 725px) {
  .trainers-slider {
    max-width: 460px;
  }
}
@media all and (max-width: 490px) {
  .trainers-slider {
    max-width: 220px;
  }
}
.programs {
  background-color: #161616;
  padding: 6.2% 0;
  text-align: center;
}
.programs__subtitle:after {
  margin: 29px auto 50px;
}
.programs__body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.program {
  font-family: "Lato";
  flex: 1 1 33.33333%;
  padding: 0 31px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.program__img {
  width: 100px;
  height: 100px;
  margin: 0 auto 46px;
}
.program__img--1 {
  background: url("/shapeUp/img/spritesheet.png") -128px -10px no-repeat;
}
.program__img--2 {
  background: url("/shapeUp/img/spritesheet.png") -238px -10px no-repeat;
}
.program__img--3 {
  background: url("/shapeUp/img/spritesheet.png") -348px -10px no-repeat;
}
.program__title {
  font-size: 22px;
  line-height: 24px;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #fefefe;
  margin: 0 0 30px;
}
.program__text {
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.05em;
  color: #fefefe;
  margin: 0 0 33px;
}
.program__btn {
  display: block;
  width: 140px;
  height: 50px;
  margin: 0 auto !important;
}

.testimonials {
  background: url("/shapeUp/img/testimonials_bg.png") center/cover no-repeat;
  padding: 5% 0 9.6%;
  text-align: center;
}
.testimonials__subtitle:after {
  margin: 29px auto 50px;
}
.testimonials-slider {
  display: flex;
  justify-content: space-between;
  max-width: 1130px;
}

.testimonial {
  max-width: 550px;
  background-color: #222;
  font-family: "Lato";
  text-align: left;
  margin: 0 10px 0;
}
.testimonial__img {
  width: 1280px;
  min-height: 300px;
}
.testimonial__img--1 {
  background: url("/shapeUp/img/testimonial_1.png") center/cover no-repeat;
}
.testimonial__img--2 {
  background: url("/shapeUp/img/testimonial_2.png") center/cover no-repeat;
}
.testimonial__container {
  display: flex;
}
.testimonial__body {
  padding: 32px 15px 35px;
}
.testimonial__name {
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  color: #12c2e9;
}
.testimonial__work {
  font-size: 10px;
  line-height: 24px;
  color: #fff;
  margin: 0 0 20px;
}
.testimonial__text {
  font-size: 12px;
  line-height: 24px;
  color: #fffefe;
  margin: 0 0 29px;
}
.testimonial__rate {
  width: 94px;
  height: 14px;
  background: url("/shapeUp/img/spritesheet.png") -630px -5px;
}
.testimonial__rate--2 {
  background: url("/shapeUp/img/spritesheet.png") -734px -5px;
}

.photo-slider {
  background-color: #111;
  padding: 0.1111111111% 0;
}
.photo-slider__item {
  margin: 0 30px;
}

@media all and (max-width: 1150px) {
  .testimonials-slider {
    max-width: 550px;
    margin: 0 auto;
  }
}
.price {
  background-color: #111;
  padding: 9.3% 0 5%;
  text-align: center;
}
.price__subtitle:after {
  margin: 29px auto 50px;
}
.price__body {
  display: flex;
  justify-content: space-between;
}
.price-card {
  width: 360px;
  font-family: "Lato";
  color: #fff;
  line-height: 24px;
  letter-spacing: 0.05em;
  border: 2px solid #222222;
  padding: 39px 0 45px;
  margin: 0 15px;
}
.price-card__price {
  font-size: 24px;
  margin: 0 0 35px;
}
.price-card__price span {
  font-size: 48px;
  font-weight: 700;
}
.price-card__duration {
  height: 50px;
  background-color: #262424;
  font-size: 18px;
  line-height: 45px;
  margin: 0 0 40px;
}
.price-card__description {
  font-size: 14px;
  margin: 0 0 39px;
}
.price-card__description li {
  margin: 0 0 15px;
}
.price-card__btn {
  display: block;
  width: 140px;
  height: 50px;
  margin: 0 auto !important;
}
.price-card:hover {
  border: 2px solid #12c2e9;
  transition: all 0.2s linear;
}
.price-card:hover .price-card__duration {
  background: linear-gradient(90deg, #e100ff 0%, #f80759 100%);
}
.price-card:hover .price-card__btn {
  background: linear-gradient(90deg, #e100ff 0%, #f80759 100%);
}

.news {
  background-color: #161616;
  padding: 5% 0;
  text-align: center;
}
.news__subtitle:after {
  margin: 29px auto 50px;
}
.news__container {
  display: flex;
  justify-content: space-between;
  max-width: 1190px;
}
.news-block {
  width: 262px;
  cursor: pointer;
  margin: 0 15px;
}
.news-block__img {
  overflow: hidden;
}
.news-block__img img {
  transition: all 0.2s linear;
}
.news-block__body {
  border: 2px solid #222222;
  border-top: none;
  font-family: "Lato";
  padding: 38px 20px 30px;
  text-align: left;
}
.news-block__title {
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  color: #f80759;
  margin: 0 0 15px;
}
.news-block__subtitle {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  margin: 0 0 28px;
}
.news-block__text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
  margin: 0 0 18px;
}
.news-block__link {
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  color: #f80759;
}
.news-block__container {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  color: #12c2e9;
  margin: 29px 0 0;
}
.news-block__like {
  display: inline-block;
  background: url("/shapeUp/img/spritesheet.png") 351px -10px;
  width: 16px;
  height: 14px;
  margin: 0 0 0 3px;
}
.news-block:hover .news-block__img img {
  transform: scale(1.1);
}

@media all and (max-width: 1170px) {
  .news__container {
    max-width: 876px;
    margin: 0 auto;
  }
}
@media all and (max-width: 945px) {
  .news__container {
    max-width: 554px;
    margin: 0 auto;
  }
}
@media all and (max-width: 587px) {
  .news__container {
    max-width: 292px;
    margin: 0 auto;
  }
}
.contact {
  background: url("/shapeUp/img/contact_bg.jpg") center/cover no-repeat;
  padding: 5% 0;
  text-align: center;
}
.contact__subtitle:after {
  margin: 29px auto 50px;
}
.contact__subtitle a {
  font-size: 48px;
  line-height: 40px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #ffffff;
}
.contact__text {
  max-width: 615px;
  margin: 0 auto 7%;
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
  color: #ffffff;
}
.contact__btn {
  display: block;
  margin: 0 auto !important;
}

.footer {
  background-color: #111;
  padding: 5% 0 0;
  font-family: "Lato";
}
.footer__container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 0 5.8%;
}
.footer__navigation {
  padding: 2% 0;
  background: linear-gradient(90deg, #e100ff 0%, #f80759 100%);
}
.footer__copyright {
  padding: 2% 0;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
}

.socials {
  max-width: 325px;
  padding: 10px 15px 10px 10px;
}
.socials__logo {
  margin: 0 0 43px;
}
.socials__text {
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
  color: #bdc3c7;
  margin: 0 0 36px;
}

.social-links__title {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  color: #bdc3c7;
  margin: 0 0 15px;
}
.social-links__container {
  display: flex;
  justify-content: space-between;
  width: 243px;
}
.social-links__item {
  display: block;
  width: 40px;
  height: 40px;
  border: 1px solid #555555;
  transition: all 0.2s linear;
}
.social-links__item:hover {
  border: 1px solid #f80759;
}
.social-links__img--1 {
  width: 16px;
  height: 16px;
  background: url("/shapeUp/img/spritesheet.png") 728px -10px;
  margin: 11px auto 0;
}
.social-links__img--2 {
  width: 16px;
  height: 16px;
  background: url("/shapeUp/img/spritesheet.png") 285px -8px;
  margin: 11px auto 0;
}
.social-links__img--3 {
  width: 16px;
  height: 16px;
  background: url("/shapeUp/img/spritesheet.png") 376px -10px;
  margin: 11px auto 0;
}
.social-links__img--4 {
  width: 16px;
  height: 16px;
  background: url("/shapeUp/img/spritesheet.png") 234px -8px;
  margin: 11px auto 0;
}
.social-links__img--5 {
  width: 16px;
  height: 16px;
  background: url("/shapeUp/img/spritesheet.png") 260px -8px;
  margin: 11px auto 0;
}

.contacts {
  padding: 15px 10px 10px 15px;
  width: 270px;
}
.contacts__title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #fff;
  margin: 0 0 49px;
}
.contacts__list li {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #bdc3c7;
  margin: 0 0 23px;
}
.contacts__list li a {
  color: #bdc3c7;
  display: inline-block;
}
.contacts__list li:last-of-type {
  margin: 0;
}
.contacts__img {
  display: inline-block;
  width: 16px;
  margin: 0 15px 0 0;
}
.contacts__img--1 {
  height: 21px;
  background: url("/shapeUp/img/spritesheet.png") -10px -10px;
}
.contacts__img--2 {
  background: url("/shapeUp/img/spritesheet.png") -32px -9px;
  height: 18px;
}
.contacts__img--3 {
  background: url("/shapeUp/img/spritesheet.png") -52px -9px;
  height: 16px;
  width: 21px;
}
.contacts__img--4 {
  background: url("/shapeUp/img/spritesheet.png") -80px -10px;
  height: 18px;
  width: 19px;
}

.tags {
  padding: 15px 10px 10px 15px;
  max-width: 410px;
}
.tags__title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  margin: 0 0 47px;
}
.tags__container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.tags__item {
  font-size: 15.4px;
  line-height: 28px;
  font-weight: 400;
  color: #ffffff;
  display: block;
  border: 1px solid #555555;
  padding: 7px 30px;
  margin: 0 10px 10px 0;
}
.tags__item:hover {
  background: linear-gradient(90deg, #e100ff 0%, #f80759 100%);
}

@media all and (max-width: 1044px) {
  .tags__title {
    margin: 0 0 23px;
  }
}
@media all and (max-width: 634px) {
  .contacts__title {
    margin: 0 0 23px;
  }

  .contacts {
    margin: 10px 0;
  }

  .socials__logo {
    margin: 0 0 23px;
  }

  .socials__text {
    margin: 0 0 10px;
  }
}
.menu-burger {
  display: none;
}

@media all and (max-width: 960px) {
  .menu-burger {
    display: block;
    position: relative;
    width: 40px;
    height: 30px;
    z-index: 3;
    margin: 0 0 0 10%;
  }

  .menu-burger span {
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 2px;
    top: 14px;
    left: 0;
    bottom: 9px;
  }

  .menu-burger:before,
.menu-burger:after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }

  .menu-burger:before {
    top: 0;
  }

  .menu-burger:after {
    bottom: 0;
  }

  .menu-burger.active:before {
    transform: rotate(45deg);
    top: 13px;
    background-color: #fff;
  }

  .menu-burger.active:after {
    transform: rotate(-45deg);
    bottom: 14px;
    background-color: #fff;
  }

  .menu-burger.active span {
    transform: scale(0);
    transition: all 0.3s ease 0s;
  }

  body.lock {
    overflow: hidden;
  }

  .navigation {
    position: fixed;
    top: -100%;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.87);
    padding: 100px 0px 0px 0px;
    transition: all 0.3s ease 0s;
  }
  .navigation.active {
    display: block;
    top: 0;
  }

  .navigation__item {
    display: block;
    text-align: center;
    margin: 8%;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
  }
}