.trainers{
    background-color: #111;
    
    padding: 9.5% 0 6%;
    
    text-align: center;
    
    &-subtitle{
        
        &:after{
            margin: 29px auto 50px;
        }
    }
    
    &-slider{
        max-width: 1140px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        &__item{
            position: relative;
            
            &:after{
                transition: all .2s linear;
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 212px;
                background-image: -webkit-linear-gradient(bottom, #000000 0%, #ffffff 60%, #ffffff 100%);
                background-image: -o-linear-gradient(bottom, #000000 0%, #ffffff 60%, #ffffff 100%);
                background-image: linear-gradient(to top, #000000 0%, #ffffff 60%, #ffffff 100%);
                opacity: 0;
            }
            
            &:hover{
                &:after{
                    opacity: .8;
                }
                .item__text{
                    opacity: 1;
                }
            }
        }
    }
}

.item__text{
    position: absolute;
    top: 78%;
    left: 54px;
    z-index: 1;
    opacity: 0;
    
    transition: all .2s linear;
    
    font-family: 'Lato';
    
    p{
        &:first-of-type{
            font-size: 18px;
            line-height: 24px;
            font-weight: 700;
            letter-spacing: 0.05em;
            color: #fff;
        }
        
        &:last-of-type{
            font-size: 12px;
            line-height: 24px;
            letter-spacing: 0.05em;
            color: #12c2e9;
        }
    }
}

@media all and(max-width: 1188px){
    
    .trainers-slider{
        max-width: 922px;
    }
}

@media all and(max-width: 1000px){
    
    .trainers-slider{
        max-width: 690px;
    }
}

@media all and(max-width: 725px){
    
    .trainers-slider{
        max-width: 460px;
    }
}

@media all and(max-width: 490px){
    
    .trainers-slider{
        max-width: 220px;
    }
}